*{
    margin:0px;
    padding:0px;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.mt10{
    margin-top:10px;
}
.ml10{
    margin-left:10px;
}

/*首部开始*/
.head{
    width:1351px;
    height:35px;
    background:#f5f5f5;
}
.head_c{
    width:1190px;
    height:35px;
    margin:0px auto;
}
.dq{
    width:79.02px;
    height:35px;

    padding:0px 6px;
    text-align:center;
    margin-right:7px;
}
.dq span{
    line-height:35px;
    font-size:12px;
    padding:0px 6px;
    color:#6C6C6C;
}
.dq:hover{
    background:#fff;
}
.dlzc{
    width:134.03px;
    height:35px;
    padding:0px 6px; 
}
.dl{
    width:60.2px;
    height:35px;
    margin-right:7px;
}
.dl a{
    font-size:12px;
    line-height: 35px;
    color:red;
}

.zc{
    width:48.02px;
    height:35px;
    margin-right:7px;
    text-align: center;
}
.zc a:hover{
    color:red;
}
.zc a{
   font-size:12px;
   line-height:35px;
    color:#6C6C6C;
}
.gtb{
    width:60.02px;
    height:35px;
    text-align: center;
}
.gtb a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
}
.gtb a:hover{
    color:red;
}
.wzdh{

    width:96.02px;
    height:35px;
}
.wzdh a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
    padding-left:6px;
}
.wzdh a:hover{
    color:red;
}
.lxkf{
 width:79.02px;
    height:35px;

 } 
.lxkf ul li a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
}
.lxkf ul li a:hover{
    color:red;
}
.qn{
    width: 103.02px;
    height:35px;

    text-align:center;

}
.qn a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
}
.shu{
    width:14.59px;
    height:35px;
    text-align:center;

}
.shu span{
    font-size:12px;
    line-height:35px;
    color:#ddd;
}
.spfl{
    width:67.02px;
    height:35px;
    text-align:center;

}
.spfl a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
}
.scj{
    width:84.02px;
    height:35px;
    text-align:center;

}
.scj a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
}
.gwc{
    width:84.02px;
    height:35px;
    text-align:center;

    background:url('../images/gwc.png') no-repeat 10px 4px;
}
.gwc a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
}
.wd{
    width:79.02px;
    height:35px;
    text-align:center;

}
.wd a{
    font-size:12px;
    line-height:35px;
    color:#6C6C6C;
}
/*首部结束*/
/*搜索块开始*/
#nr{
    width:1351px;
    height:1000px;
     
    float:left;
}
.css{
    width:938px;
    height:60px;

    margin-left:100px;
    margin-top:16px;
}
.tb{
    width:105px;
    height:43px;

}
.tb img{
    margin-top:5px;
}
.ssk{
    width:599px;
    height:31px;
    background:#fff;
    border-top:2px solid red;
    border-left: 2px solid red;
    border-bottom:2px solid red;
    margin-left:150px;
    margin-top:10px;
}
.ssk select{
    width:67px;
    height:31px;
    color:#6b6b6b;
    border:0px;
    background:#F5F5F5;
}
.ssk input{
    width:500px;
    height:31px;
    border: none;
    outline: 0;
    border: 0;
    margin-left:-4px;
}
.ssk img{
    margin-top:3px;

}
.ssan{
    width:80px;
    height:35px;
}
.ssan{
    widows: 80px;
    height:35px;
    background:url('../images/ss.png')no-repeat ;
    margin-top:10px;
}
.ssan  button{
    width:80px;
    height:35px;
    opacity: 0;
}
/*搜索块结束*/
/*中部分开始*/

.center{
    width:938px;
    height:1000px;
      
    margin-left:100px;
}
.rk{
    width:938px;
    height:40px;
     
    border-bottom: 2px solid #f40;
    
}
.rk li{
    width:104px;
    height:40px;
    float:left;
    text-align:center;
}
.current{
    background:#f40;
}
.rk a{
    color:#000;
    font-size:16px;
    line-height:40px;
}
.rk .current a{
    color:#fff;
    font-size:16px;
    line-height:40px;
}


.flan{
    width:920px;
    height:26px;
    margin-top:2px;
  margin-left:20px;
     
}
.flan span{
    font-size:14px;
    color:#3d3d3d;
}
.flan a{
    font-size:14px;
    color:#3d3d3d;

}
.sx{
    width:80px;
    height:24px;
    background:rgb(246, 246, 246);
    text-align:center;
}
.sx a{
    font-size:12px;
   color:rgb(107, 107, 107);
   line-height:24px;
}
.flks{
    width:938px;
    height:186px;
    border:1px solid #e8e8e8;
}
.flks1{
    width:922px;
    height:36px;
    border-bottom: 1px dashed #e8e8e8;
    margin-left:9px;
    font-weight: 400;
    color:#999;
    font-size:12px; 
    line-height:36px;
}
.sj{
    margin-right:29px;
}
.wllx{
    margin-right:29px;
}
.sxx{
    margin-right:29px;
}
.flks5{
    border:0px;
    width:922px;
    height:36px;
    margin-left:9px;
    font-weight: 400;
    color:#999;
    font-size:12px; 
    line-height:36px;
}

.flzd{
    width:810px;
    height:36px;
}
.flzd  a{
    color:#000;
    font-size:12px; 
    line-height:36px;
}
.flzd li{
    float:left;
    margin-right:30px;
}
.flzd .dx{
    width:32px;
    height:18px;
    float:right;

}
.dx a{
    color:#404040;
   border:solid 1px #dad9d9
}
.flzd .gdan{
    width:32px;
    height:18px;
    float:right;

}
.xz{
    width:938px;
    height:44px;
    border:1px solid #e8e8e8;
}
.xz h4{
    font-size:12px; 
    line-height:44px;
    color:#999;
    font-size:12px; 
    margin-right:13px;
}
.xz a{
    font-size:12px; 
    line-height:44px;
    color:#6c6c6c;

}
.xz li{
    margin-right:15px;
}
.gnan{
    width:938px;
    height:39px;
    border:solid 1px #e8e8e8;
    background:#f5f5f5;
}
.gnan a{
    font-size:12px;
    color: #6D6D6D;
    line-height:39px;
    padding:7px 19px;
}
.gnan li{
    text-align:center;
    width:87px;
    height:38px;
    background:#ddd;
    border:1px solid #bbb;
    float:left;
}
.gnan input{
    margin-top:8px;
}
.gnan .zj{
    margin-left:10px;
}
.tj1{
    width:16px;
    height:22px;
    background:#aaa;
}
.tjk{
    margin-top:5px;
    margin-left:5px;
}
.tj11{
    width:16px;
    height:11px;
    background:#ccc;
}.tj2{
    width:16px;
    height:22px;
    background:#aaa;
}

.tj22{
    width:16px;
    height:21px;
    background:#ccc;
}
.tj3{
    width:16px;
    height:22px;
    background:#aaa;
}

.tj33{
    width:16px;
    height:4.5px;
    background:#ccc;
}
.tj4{
    width:16px;
    height:22px;
    background:#aaa;
}

.tj44{
    width:16px;
    height:2.3px;
    background:#ccc;
}
.fh{
    width:89px;
    height:39px;
    margin-left:100px;
    text-align:center;
}
.fh span{
    color:#6d6d6d;
    font-size:16px;
    line-height:39px;
}
.ms img{
    width:80px;
    height:39px;
}
.page{
    width:102px;
    height:39px;
    text-align: center;
}
.page{
    line-height:39px;
}
.page #zj{
color:#3D3D3D;
}
.page #z1{
    color:red;
}
.dxan{
    width:938px;
    height:39px;
    border:1px solid #E8E8E8;
}
.dxan li{
    float:left;
    margin-right:10px;
    margin-left:5px;
}
.dxan span{
    line-height:39px;
    font-size:12px;
    color:#6D6D6D;
    margin-left:3px;
}
.dxan input{
    background:#fff;
    color:#fff;
}
#gd{
    color:#000;

}
.sp{
    width:940px;
    height:1000px;
     

}

.sp1{
    width:220px;
    height:360px;
     
    margin-top:22px;
    margin-right:15px;
}
.sp1 img{
    width:220px;
    height:220px;
}
.spjg{
    width:220px;
    height:121px;
      
}
.jg{
    color:#F40;
    font-size:18px;
    font-weight: bold
}
.by{
    width:27px;
    height:14px;
    background:#F40;
    margin-top:6px;
    margin-left:2px;
}
.by span{
    color:#fff;
    font-size:10px;
    line-height:14px;
}
.rs{
    width:62px;
    height:22px;
    margin-left:50px;
    margin-top:5px;
}
.rs span{
    color:#888888;
    font-size:12px;
}
.mc{
    width:220px;
    height:36px;
    margin-top:6px;
    margin-left:7px;
}
.mc a{
    color:#404040;
    font-size:12px;
}
.dm{
    width:220px;
    height:22px;
    margin-top:6px;
}
.dm img{
    width:13px;
    height:12px;
    margin-left:10px;
}
.dm a{
    color:#888888;
    font-size:12px;
}
.dm span{
    color:#888888;
    font-size:12px;
    float:right;
    margin-right:3px;
}
.xtb{
    width:220px;
    height:20px;
}
.xtb img{
    width:16px;
    height:16px;
    margin-left:10px;
}
.xtb2{
    margin-right:10px;
}
.zgrm{
    width:240px;
    height:1000px;
     
    margin-right:60px;
}
.wz{
    width:240px;
    height:44px;
      
    border-bottom: 1px solid #aaa;
    margin-bottom: 13px;
}
.wz span{
    color:#555555;
    font-size:16px;
    line-height:44px;
    
}
.gg{
    width:26px;
    height:16px;
    background:#ddd;
    margin-top:12px;
    margin-right:10px;
}
.gg span{
    color:#aaa;
    line-height:16px;
    font-size:12px;
    border:#bbb;
}
.tjsp{
    width:238px;
    height:268px;
   border:1px solid #e5e5e5;
   margin-bottom: 5px;
}
.tjjs{
    width:218px;
    height:18px;
    margin-left:10px;   

}
.tm{
    width:16px;
    height:16px;
      
    margin-right:5px;
}
.tm img{
    width:16px;
    height:16px;
    margin-top:2px;
    margin-right:6px;
}
.tjjs span{
    color:red;
    font-size:18px;
    line-height:16px;
    font-weight: bolder;
}
.tjjs .xl{
    color:#999;
    font-size:12px;
    line-height:18px;
}
.tjjs .xls{
    color:#555555;
    font-size:12px;
    line-height:18px;
}

/*中部分结束*/